{% include 'hearder.html' %}

<div class="row">	
	<!--<center>
		{% if not wishlists %}
		<span> No Items In wishlist </span>
		{% endif %}
	</center>-->
	{% for i in wishlists %}

	<div class="col-sm-3" style="margin-bottom: 100px">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="{{i.product.product_image.url}}" alt="Card image cap" width="450px" height="300px">
			<div class="card-body">
				<h5 class="card-title">Brand : {{i.product.product_brand}}</h5>
				<h5 class="card-title">Price : {{i.product.product_price}}</h5>
				<h5 class="card-title">Desc  : {{i.product.product_desc}}</h5>
				<a href="{% url 'user_details_product' pid=i.product.pk %}" class="btn btn-primary">More Details</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
